path {
    stroke: steelBlue;
    stroke-width: 2;
    fill: none;
}
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

body{
    margin: auto;
    width: 100%;
    height: 100%;
}

h1 {
  font-family:arial;
  font-size:2em;
  color:#333;
}
html,body{
    height:100vh;
    width:100vw;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
}
h3 {
  font-family:arial;
  color:#333;
}

#info {
  position:relative;
  top: 10px;
  left: 10px;
}

.ga-map {
    width: 630px;
}


.state {
    fill:none;
    stroke: black;
    stroke-width: 3px;
    stroke-opacity: 1;
}

.counties {
  fill: #e5e5e5;
  stroke: #fff;
  stroke-width:2px;
}

.treemap-margin {
    margin-right: 60px;
}

.counties:hover {
  /*fill: steelblue;*/
  opacity: .5;
}

.w3-margin-top-custom{margin-top:100px!important}
.w3-margin-left-custom{margin-left:30px!important}
.w3-margin-left-custom1{margin-left:50px!important}

.container{
    display: flex;
}

.flex-item{
    flex-grow: 1;
}


.tooltip > p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.tooltip {
    background: #101010;
    color: #EAEAEA;
    border-radius: 5px;
    position: absolute;
    padding: 8px;
    pointer-events: none;
    text-align: left;
    opacity: .5;
}

.right-county{
  position: relative;
}

#test{
  position: relative;
}

.node {
    border: solid 1px white;
    font: 14px sans-serif;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    text-indent: 2px;
    font-weight: bold;
    color:#fff;
}
/*#innerdiv {
  overflow: auto;
  posi
}s*/

#rightCountyChild {
  position:absolute;
  bottom:0;
}

.w3-margin-bot-custom {
    margin-bottom: 80px;
}

.w3-margin-top-custom1 {
    margin-top: 40px;
}

.chart {
    display: block;
    margin: auto;
    margin-top: 40px;
}

text {
    font-size: 11px;
}

rect {
    fill: none;
}
